{% extends "structure.html" %}
{% block head %}
    <title>Privacy</title>
{% endblock head %}
{% block main %}
<div class="section white">
    <div class="row container">
      <div class="col s12 m10 offset-m1">
        <h2 class="header">Privacy</h2>
        <img src="../static/img/dd.jpg" style="border: 5px; border-radius: 15px; display: inline-block;"> 
        <p class="grey-text text-darken-3 lighten-3">Just use my first Flask app. Thank you!!</p>

        <h4 class="light">Privacy Demo HTML</h4>
        
      </div>
    </div>
  </div>
{% endblock main %}